@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));

  --color-card: hsl(var(--card));
}

/* @layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --border: 214 32% 91%;
    --background: 210 40% 98%; 
    --foreground: 222 47% 11%;

    --primary: 250 65% 65%;
    --secondary: 213 31% 91%;

    --card: 222 47% 8%;
  }

  .dark {
    --border: 217 33% 20%;
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;

    --primary: 250 65% 65%;
    --secondary: 213 31% 91%;

    --card: 222 47% 8%;
  }
} */